<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>BookCenter</title>
</head>

<body>
    <header class="home-page">
        <main>
            <div class="header-1">
                <div class="logomarca">
                    <img src="./img/nomelogo.PNG" />
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="">Livros Novos e Usados</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                     <li>
                        <a href="">Seja Vendedor</a>
                    </li>
                </ul>
            </div>
            <div class="pesquisa">
                <input placeholder="Busque Aqui" type="text" />
            </div>
        </div>
    </main>
    <div class="col-100">
        <div class="slide-principal">
            <img src="./img/slide1.jpeg" />
            <img src="./img/slide2.jpeg" />
            <img src="./img/slide3.jpeg" />
        </div>
    </div>
    <div class="col-100">
        <div class="content texto-destaque">
            <h1>SEJA BEM VINDO AO <strong>BOOKCENTER</strong> SUA CENTRAL DE LEITURA</h1>
            <p>Aqui em nosso site você vai encontrar livros, HQs, Mangas, etc.</p>
            <div class="col-3 bloco-texto">
                <img src="./img/content-pc.png" />
                <h3><b>Otimizado</b> para Desktop</h3>
                <p>Utilize o seu computador para entra em nosso site.</p>
            </div>
            <div class="col-3 bloco-texto" style="margin-top: 6em; padding-left: 40px;">
                <img src="./img/content-cadeado.png" />
                <h3><b>Seus Dados</b> Seguros</h3>
                <p>Suas informações vão direto pra um banco de dados totalmente seguro.</p>
            </div>
            <div class="col-3 bloco-texto">
                <img src="./img/content-desempenho.png" />
                <h3><b>Alto</b> desempenho</h3>
                <p>Maior usabilidade para você usuario.</p>
            </div>
        </div>
    </div>
    <div class="col-100 bloco-imagens-texto">
        <div class="content" style="margin-left: 20%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/livros.jpg">
                <p><b>Leia aqui livros Geek.</b></p>
                <p>Nosso sistema tem acesso a varios generôs de livros famosos, harry potter, game of thrones,
                    lords of the ring,
                    star wars,
                    star trek,
                    percy jacksom.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/mangas.jpg">
                <p><b>Leia aqui Mangas.</b></p>
                <p>Nosso sistema tem acesso a varios generôs de mangás como shounnem, shoujo, seinem,
                    yaoi,
                    yuri,
                    seijim,
                    ecchi.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/god.jpg">
                <p><b>Leia aqui livros de jogos.</b></p>
                <p>Nosso sistema tem acesso a varios titulos de livros de games como a coletânea god of war,
                    the witcher,
                    assasins creed,
                    diablo 3,
                    zelda.
                </p>
            </div>
        </div>
        <div class="content" style="margin-left: 20%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/hqs.jpg">
                <p><b>Leia aqui HQs da DC e da marvel.</b></p>
                <p>Nosso sistema tem acesso a varios titulos de HQs como batmam ano 01, vingadores guerra infita,
                    esquadrão suicida,
                    liga da justiça,
                    flash ponto de ignição,
                    spider man ultimate.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/tecnicos.jpg">
                <p><b>Leia aqui livros educacionais.</b></p>
                <p>Nosso sistema tem acesso a varios titulos de livros educacionais como livros para o
                    ensino fundamental,
                    ensino medio,
                    ensino tecnico,
                    ensino superior.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/infantis.jpg">
                <p><b>Leia aqui livros infantis.</b></p>
                <p>Nosso sistema tem acesso a varios titulos de livros infantis como disney,
                    pixar,
                    gibis,
                    contos,
                    fabulas.
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="col-100 bloco-logos">
        <div class="content">
            <div class="col-4">
                <img alt="Games" title="Games" src="./img/icon-1.png" />
            </div>
            <div class="col-4">
                <img alt="DComics" title="DComics" src="./img/icon-2.png" />
            </div>
            <div class="col-4">
                <img alt="Marvel" title="Marvel" src="./img/icon-3.png" />
            </div>
            <div class="col-4">
                <img alt="Star Wars" title="Star Wars" src="./img/icon-4.png" />
            </div>
        </div>
    </div>
    <footer>
        <div class="col-100 footer">
            <div class="content">
                <div class="col-4">
                    <h3><b>Publicação</b></h3>
                    <p>Nosso site entrará ao ar em dezembro XD!</p>
                </div>
                <div class="col-4">
                    <h3><b>Tags</b></h3>
                    <p>Livros,Hqs,multimidia e muito mais.</p>
                </div>
                <div class="col-4">
                    <h3><b>Um pouco sobre nós</b></h3>
                    <p>Livros,Hqs,multimidia e muito mais.</p>
                </div>
                <div class="col-4">
                    <h3><b>Entrar em contato</b></h3>
                    <p>Acesse o nosso site e clique na aba "entrar em contato" la em cima.</p>
                    <p class="local">Caruaru, PE</p>
                    <p class="email">Bookcenter@hotmail.com</p>
                    <p class="telefone">0800-100-2365</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="col-100 footer-2">
        <div class="content">
            <p>
                @ 2019 web world
            </p>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>

</html>