<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylePGI.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>BookCenter</title>
</head>

<body>
    <header class="home-page">
        <main>
            <div class="header-1">
                <div class="logomarca">
                    <img src="./img/tplogo.PNG" />
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="">Livros Novos e Usados</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                    <li>
                        <a href="/index/CadastroLivro">Seja Vendedor</a>
                    </li>
                </ul>
            </div>
            <div class="pesquisa">
                <input placeholder="Busque Aqui" type="text" />
            </div>
        </div>
    </main>
    <div class="col-100">
        <div class="slide-principal">
            <img src="./img/tpslide1.jpeg" />
            <img src="./img/tpslide2.jpeg" />
            <img src="./img/tpslide3.jpeg" />
        </div>
    </div>
    <div class="col-100">
        <div class="content texto-destaque">
            <h1>SEJA BEM VINDO AO <strong>BOOKCENTER</strong> SUA CENTRAL DE LEITURA</h1>
            <p>Aqui em nosso site você vai encontrar livros, HQs, Mangas, etc.</p>
            <div class="col-3 bloco-texto" style="margin-left: 7em;">
                <img src="./img/tpcontent-pc.png" />
                <h3><b>Otimizado</b> para Desktop</h3>
                <p>Utilize o seu computador para entra em nosso site.</p>
            </div>
            <div class="col-3 bloco-texto" style="margin-top: 6em; padding-left: 40px;">
                <img src="./img/tpcontent-cadeado.png" />
                <h3><b>Seus Dados</b> Seguros</h3>
                <p>Suas informações vão direto pra um banco de dados totalmente seguro.</p>
            </div>
            <div class="col-3 bloco-texto">
                <img src="./img/tpcontent-desempenho.png" />
                <h3><b>Alto</b> desempenho</h3>
                <p>Maior usabilidade para você usuario.</p>
            </div>
        </div>
    </div>
    <div class="col-100 bloco-imagens-texto">
        <div class="content" style="margin-left: 20%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/tplivros.jpg">
                <p><b>Leia aqui livros Geek.</b></p>
                <p>Lorem Ipsum
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/tpmangas.jpg">
                <p><b>Leia aqui Mangas.</b></p>
                <p>Lorem Ipsum
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/tpgod.jpg">
                <p><b>Leia aqui livros de jogos.</b></p>
                <p>Lorem Ipsum
                </p>
            </div>
        </div>
        <div class="content" style="margin-left: 20%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/tphqs.jpg">
                <p><b>Leia aqui HQs da DC e da marvel.</b></p>
                <p>Lorem Ipsum
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/tptecnicos.jpg">
                <p><b>Leia aqui livros educacionais.</b></p>
                <p>Lorem Ipsum
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./img/tpinfantis.jpg">
                <p><b>Leia aqui livros infantis.</b></p>
                <p>Lorem Ipsum
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="col-100 bloco-logos">
        <div class="content">
            <div class="col-4">
                <img alt="Games" title="Games" src="./img/tpicon-1.png" />
            </div>
            <div class="col-4">
                <img alt="DComics" title="DComics" src="./img/tpicon-2.png" />
            </div>
            <div class="col-4">
                <img alt="Marvel" title="Marvel" src="./img/tpicon-3.png" />
            </div>
            <div class="col-4">
                <img alt="Star Wars" title="Star Wars" src="./img/tpicon-4.png" />
            </div>
        </div>
    </div>
    <footer>
        <div class="col-100 footer">
            <div class="content">
                <div class="col-4 f-1">
                    <h5><b>Publicação</b></h5>
                    <div class="ptext-1">
                        <p>Nosso site entrará ao ar em dezembro XD!</p>
                    </div>
                </div>
                <div class="col-4 f-2">
                    <h5><b>Tags</b></h5>
                    <div class="ptext-2">
                        <p>Livros,Hqs,multimidia e muito mais.</p>
                    </div>
                </div>
                <div class="col-4 f-3">
                    <h5><b>Um pouco sobre nós</b></h5>
                    <div class="ptext-3">
                        <p>Livros,Hqs,multimidia e muito mais.</p>
                    </div>
                </div>
                <div class="col-4 f-4">
                    <h5><b>Entrar em contato</b></h5>
                    <div class="ptext-4">
                        <p>Acesse o nosso site e clique na aba "entrar em contato" la em cima.</p>
                    </div>
                    <div class="ptext-5">
                        <p class="local">Caruaru, PE</p>
                    </div>
                    <div class="ptext-6">
                        <p class="telefone">0800-100-2365</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <div class="col-100 footer-2">
        <div class="content">
            <p>
                @ 2019 web world
            </p>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>

</html>