<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Resultado da busca</title>
</head>

<body>

	<h1>Lista de produtos</h1>

	<h3>
		<a href="/index/CadastroLivro">Cadastrar produuto</a>
	</h3>
	
	<div th:each="livro : ${livros}">
	
	<div class="row">
	     <p><span th:text="${livro.nome}"></span></p>
	     <p><span th:text="${livro.categoria}"></span></p>
	     <p><span th:text="${livro.genero}"></span></p>
	     <p><span th:text="${livro.autor}"></span></p>
	     <p><span th:text="${livro.preco}"></span></p>
	</div>
	
	</div>

</body>

</html>