body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.home-page {
    width: 100%;
    background-color: black;
    height: 80px;
}
main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logomarca {
    padding: 8px;
}
.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b; 
    margin-left: 15px;
    height: 48px;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.menu ul li:hover{
    border-bottom: 3px solid black;
}
.menu ul li a:hover {
    color: black;
}
.menu {
    width: 70%;
    float: left;
}
.pesquisa {
    text-align: center;
    width: 30%;
    float: right;
}
.pesquisa input {
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-left: 324px;
    margin-top: 7px;
    background-position: 96%;
    border: 1px solid black;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 48px;
    height: 48px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    left: 14%;
    background-repeat: no-repeat;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 48px;
    height: 48px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    right: 14%;
    background-repeat: no-repeat;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 355px;
    margin-top: 350px;
}
li.slick-active button {
    background: black;

}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}
.texto-destaque {
    text-align: center;
}
.texto-destaque h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #818181;
}
.texto-destaque strong {
    color: #646464;
}
.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
}
.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}
.bloco-texto {
    margin-top: 3em;
}
h3 {
    font-weight: normal!important;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: center;
}
.bloco-imagens-texto {
    background-color: #eeeeee;
}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 60px;
    background: #eeeeee;
} 
.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img {
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1em;
}
.col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}
.bloco-logos {
    height: 170px;
}
.bloco-logos img {
    margin-top: 25px;
}
.footer h3 {
    text-align: left;
}
.footer {
    background-image: url('../img/footer.png');
    color: #ffffff;
}
.footer-2 {
    background-image: url('../img/footer2.png');
    color: #ffffff;
    height: 90px;
}
.footer-2 p {
    padding: 26px;
    float: left;
}
.footer p {
    width: 90%;
    text-align: left;
}
.local::before, .email::before, .telefone:before{
    content: '';
    width: 17px;
    height: 24px;
    display: inline-block;
    float:  left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local::before{
    background-image: url('../img/local.png');
}
.email::before{
    background-image: url('../img/email.png');
}
.telefone::before{
    background-image: url('../img/telefone.png');
}